<div>
	<style type="text/css">
		td{height:30px;line-height:30px;border:1px solid #ccc;padding:0 10px;text-align:center;}
	</style>
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<td>ID</td>
				<td>用户名</td>
				<td>邮箱</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(k, v) in userList">
				<td>{{v.id}}</td>
				<td>{{v.uname}}</td>
				<td>{{v.email}}</td>
				<td>
					<a href="javascript:;" ng-click="move(k, 1);" ng-if="k!=0">上移</a>
					<span ng-if="k==0">上移</span>
					<a href="javascript:;" ng-click="move(k, -1);" ng-if="k!=(userList.length-1)">下移</a>
					<span ng-if="k==(userList.length-1)">下移</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>