<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<style type="text/css">
		.ng-cloak{display:none;}
	</style>
</head>
<body ng-app="app" ng-controller="ctrl" ng-cloak class="ng-cloak">
	<input type="checkbox" ng-model="status"  />
	<textarea ng-disabled="status"></textarea>
	<button ng-click="showHide = !showHide">显示/隐藏</button>
	<textarea ng-init="showHide=false" ng-show="showHide">协议书</textarea>
	{{showHide}}
</body>
</html>
<script type="text/javascript" src="http://www.zymseo.com/js/angular.min.js"></script>
<script type="text/javascript">
	var m = angular.module('app', []);
	m.controller('ctrl', ['$scope', function($scope){
		
	}]);
</script>